<style>
.solution-inner-item
{
	border-top: 1px solid #e5e5e5;
	padding-top: 30px;
	margin-top: 30px;
}
.solution-inner-item:first-child
{
	margin-top: 0;
}
.solution-inner-item h4
{
	display: inline-block;
	margin: 0 0px 5px 8px;
}
.solution-inner-item h4 + p
{
	margin: 0 0 0 30px;
	font-size: 14px;
}
.instal-load-block .instal-load-label
{
	font-size: 14px;
}
.instal-bg
{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
</style>