/* Svoi CSS kod pishite v faile CUSTOM.CSS, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* --------------------------------------- */
/* Put you custom CSS in CUSTOM.CSS, not in this file! */

/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */
/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */
/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */
/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */
/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */

body{ background-color: white; color: #555555; font: 13px/20px "Open Sans", Arial, sans-serif; }
a{ text-decoration: underline; outline: none !important; }
h1,h2,h3,h4,h5,h6{ letter-spacing: -1px; margin: 0; font-weight: 300; margin: 0 0 15px 0; }
h1{ font-size: 36px; line-height: 30px; }
h2{ font-size: 30px; line-height: 35px; }
h3{ font-size: 28px; letter-spacing: normal; line-height: 36px; }
h4{ font-size: 24px; letter-spacing: normal; line-height: 27px; }
h5{ font-size: 20px; letter-spacing: normal; line-height: 18px; }
h6{ font-size: 16px; letter-spacing: normal; line-height: 18px; }
h1.spaced, h2.spaced, h3.spaced, h4.spaced, h5.spaced, h6.spaced{ margin-top: 22px; }
h1.more-spaced, h2.more-spaced, h3.more-spaced, h4.more-spaced, h5.more-spaced, h6.more-spaced{ margin-top: 44px; }

p{margin-bottom:20px;}
p .alternative-font{ display: inline-block; margin-top: -15px; position: relative; top: 3px; margin-bottom: -6px; }
p.featured{ font-size: 1.6em; line-height: 1.5em; }
p.short{ margin-bottom: 0; }
p.tall{ margin-bottom: 20px; }
p.taller{ margin-bottom: 40px; }
p.drop-caps:first-child:first-letter{ float: left; font-size: 75px; line-height: 60px; padding: 4px; margin-right: 5px; margin-top: 5px; font-family: Georgia; }
p.drop-caps.secundary:first-child:first-letter { background-color: #ccc; color: white; padding: 6px; margin-right: 5px; border-radius: 4px; }

hr{ height: 1px; margin: 22px 0 22px 0; border-top: 1px solid #d9dfe3 }
table.table{ border-collapse: collapse; border-spacing: 0; }
table.table > thead > tr > th, table.table > tbody > tr > th, table.table > tfoot > tr > th, table.table > thead > tr > td, table.table > tbody > tr > td, table.table > tfoot > tr > td{ border: 0;word-break: break-all;}
table.table > thead > tr > th, table.table > tbody > tr > th, table.table > tfoot > tr > th{ color: white; border-bottom: 1px solid white; }
table.table tr:nth-child(even) td{ background: #eff5f7; }
table.table tr:nth-child(odd) td{ background: white; }
table.table1 td{ padding: 15px; }
blockquote{ color: white; position: relative; padding: 20px 20px 20px 80px; border-left: 5px solid; }
blockquote:before{ position: absolute; top: 24px; left: 20px; font-family: FontAwesome; content: "\f10d"; font-size: 40px; line-height: 36px; }
li{ line-height: 24px; }
.btn{ text-transform: uppercase; text-decoration: none; margin: 0 10px 10px 0; border-radius: 3px; }
.btn-icon i{ margin-right: 10px; }
.btn-icon-right i{ margin-right: 0; margin-left: 10px; }
.grey_light{color:#6d7a83;}
.grey_dark{color:#666666;}
.dark_light{color:#2f383d;}
.dark_light_table{color:#2f383d; font-size:16px;}
.nav > li > a, .nav > li > span { padding: 10px 30px 10px 15px; display: block; }
.nav > li > span {cursor: default; }
.left-menu-md  { padding-right: 40px; }
.right-menu-md  { padding-left: 40px; }
.right-menu-md  .side-menu > li > a:before, .right-menu-md  .side-menu > li > span:before { right: auto; left: 15px; margin-top: 2px; }
.right-menu-md  .nav > li > a, .right-menu-md  .nav > li > span { padding: 10px 10px 10px 30px; }
.body_media {display: none;position: absolute;}

/* check bitrix popups style */
.bx-core-window img{vertical-align:baseline;}
.bx-core-window .adm-btn, .bx-core-window .adm-input-file{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;}

/* error - not existing module aspro.allcorp */
.include_module_error {margin: 0 auto;text-align: center;}
.include_module_error img {max-width: 100%;}
.include_module_error p {color: #636363;font-size: 14px;line-height: 20px;margin-top: 0;}
img.responsive {
	width: 100%;
}
